<div
  style="
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  "
>
  <button
    (click)="onCustomerListClick()"
    type="button"
    class="btn btn-primary cus-btn"
  >
    Customer List
  </button>
  <button
    (click)="onAddCustomerClick()"
    type="button"
    class="btn btn-primary cus-btn"
  >
    Add Customer
  </button>
  <button
    (click)="onProductListClick()"
    type="button"
    class="btn btn-primary cus-btn"
  >
    Product List
  </button>
</div>
