<h1 style="text-align: center;">Customer List</h1>
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>User Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Land Mark</th>
      <th>Zip Code</th>
      <th>City</th>
      <th>Created On</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{ customer.userName }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.landMark }}</td>
      <td>{{ customer.zipCode }}</td>
      <td>{{ customer.city }}</td>
      <td>{{ customer.createdOn }}</td>
      <td (click)="deleteCustomer(customer.customerID)">
        <span class="material-icons" style="padding-right: 10px">
          delete_outline
        </span>
      </td>
    </tr>
  </tbody>
</table>
